.kerala{
    font-size: medium;
    color: white;
}

.tvm
{
    background-image: url(padmanabhaswamytemple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .tvm1
{
    background-image: url(ponmudi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
.klm
{
    background-image: url(Kollambeach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .klm1
{
    background-image: url(thangassery);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
.ptm
{
    background-image: url(Perumthenaruvi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .ptm1
{
    background-image: url(Sreevallabha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
.alpy
{
    background-image: url(Alpy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .alpy1
{
    background-image: url(Arthunkal\ church.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
.ktym
{
    background-image: url(illikal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .ktym1
{
    background-image: url(thirunakara.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
.idukki
{
    background-image: url(periyarnationalpark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .idukki1
{
    background-image: url(Meeshapulimala.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.erna
{
    background-image: url(athirappally.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .erna1
{
    background-image: url(Arthunkal\ church.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tri
{
    background-image: url(Thrissurpooram.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .tri1
{
    background-image: url(asurankundu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
.plkd
{
    background-image: url(palakadfort.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .plkd1
{
    background-image: url(parambikulam.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}




.mala
{
    background-image: url(Miracle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .mala1
{
    background-image: url(Sreekadambuzhadevi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}




.koikod
{
    background-image: url(thali-temple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .koikod1
{
    background-image: url(kozhikodebeach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}



.waya
{
    background-image: url(glassbridge.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .waya1
{
    background-image: url(Wildlife.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}



.kannur
{
    background-image: url(palakayam.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .kannur1
{
    background-image: url(paithalmala);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}





.kasar
{
    background-image: url(hillstation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .kasar1
{
    background-image: url(ranipuram.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}